::selection {
    background: skyblue;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

body>.container,
body>.container-fluid {
    padding: 60px 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.card-profile {
    position: fixed;
    width: 280px;
    margin: 0 auto;
    background-color: #ececec;
    border-radius: 0;
    border: 0;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
}

.card-profile .card-img-top {
    height: 120px;
}

.card-profile .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 10px;
    border: 5px solid #e6e5e1;
}

.card-profile .card-title {
    margin-bottom: 20px;
}

.card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
}

.card-profile .card-links {
    margin-bottom: 30px;
    padding: 0px 30px;
}


/**
* What's up changing
*/

.whats-up {
    font-weight: 500;
    font-size: 70%;
}


/**
* Main moments posts' cards
*/

.moment-card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.moment-card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 5px 1em;
    border: none;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.moment-card-img-top {
    zoom: 2;
    display: block;
    margin: auto;
    height: auto;
    max-height: 80px;
    width: auto;
    max-width: 100%;
}

.moment-card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.moment-card-text {
    clear: both;
    color: rgba(0, 0, 0, .68);
}

.moment-card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.moment-card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.moment-profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.moment-profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.moment-profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.moment-profile-inline~.moment-card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: bottom;
}